/*
Colors:
#139bcd (blue)
#0e2d52 (dark)
#85c14a (green)
#FFFFFF (white)
*/

h1{
    color: #139bcd;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    filter: invert(1);
}

.img-rounded{
    border-radius: .2em;
}

/* Modify brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
	color: green;
}
