/*
Colors:
#139bcd (blue)
#0e2d52 (dark)
#85c14a (green)
#FFFFFF (white)
*/

.title{
    background-color: #85c14a;
    color: white;
    padding: 1em;
}

.trash{
    text-decoration: none;
    font-size: x-large;
    font-weight: 600;
    color: black;
    padding: 1em;
    text-align: center;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    filter: invert(1);
}

.img-rounded{
    border-radius: .2em;
}

/* Modify brand and text color */
.custom_nav{
    background-color: #0e2d52;
}

.logo-bg{
    background-color: white;
    border-radius: 100%;
    margin-right: 1em;
}

.logo-bg:hover{
    transition: ease-in-out .5s;
    background-color: lightcyan;
}

.nav-color{
    color: white;
    font-weight: 700;
    font-size: large;
    text-decoration: none;
    padding: .5em;
}

.nav-color:hover{
    transition: ease-in-out .5s;
    color: #85c14a;
}

.card-button{
    color: white;
    background-color: #85c14a;
    text-decoration: none;
    font-weight: 600;
    font-size: larger;
    border-radius: .2em;
    padding: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    position:absolute;
    top:85%;
    left:33%;
}

.card-button:hover{
    transition: ease .5s;
    color: lightcyan;
    background-color: #0e2d52;
}

#footer{
    border: 1em;
    color:#85c14a;
    background-color: #0e2d52;
    text-decoration: none;
    font-weight: 700;
    padding: 1em;
    padding-top: 3em;
    margin-top: 25vh;
}

.sub-text{
    color:#85c14a;
}

.social_icon{
    color: white;
    text-decoration: none;
    margin: 16px;
    width: 160px;
    font-size: 2em;
}

.social_icon:hover{
    color: #85c14a;
    transition: ease 1s;
}

.footer-color{
    color: white;
    font-weight: 700;
    font-size: large;
    text-decoration: none;
    padding: .5em;
}

.footer-color:hover{
    transition: ease-in-out .5s;
    color: #85c14a;
}

a{
    text-decoration: none;
}

.list-style a{
    color: white;
    font-size: large;
    font-weight: 500;
}

.list-style a:hover{
    transition: ease .3s;
    color: #139bcd;
}

.card{
    
    background-color: #139bcd;
    color: white;
    height:100%;
    margin:1rem;
}
.card-img-top{
    
    padding-right: 1em;
    padding-left:1rem;
    margin-top: 1em;
    border-radius: 1em;
}
.card-text{
    margin-bottom:5em;
}
.card-body{
    margin-bottom:1em;
}

.navbar-toggler-icon{
    filter: invert(1);
}

.blue-bg{
    background-color: #139bcd;
    margin-top: 10vh;
    padding: 2em;
    border-radius: .5em;
}

.green-bg{
    background-color: #85c14a;
    margin-top: 10vh;
    padding: 2em;
    border-radius: .5em;
}

.project-text{
    color: white;
    font-weight: 600;
}